@page "{id:int}"
@model BookAuthorApp.Pages.Authors.DetailsModel

<h2>@Model.Author.FirstName @Model.Author.LastName</h2>
<p>@Model.Author.BirthDate?.ToShortDateString()</p>

<h4>Books</h4>

@if (!Model.Author.Books.Any())
{
    <p>No books</p>
}
else
{
    <ul>
@foreach (var book in Model.Author.Books)
{
        <li>
            @book.Title
            <a asp-page="/Books/Edit" asp-route-id="@book.Id" class="btn btn-sm btn-warning">
                Edit Book
            </a>
        </li>
}
    </ul>
}

<a asp-page="/Library/Index" class="btn btn-secondary">Back to Library</a>



